html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* CUSTOM STYLE */

h1{
  font-family: 'Exo 2', sans-serif;
  font-size: 55px;
  text-align: center;
  margin: 20px;
}

body{
  background-image: url('../images/bg.jpg');
  background-size: 100% auto;
	overflow-x: hidden;
}
section{
  padding: 50px;
  width: 80%;
  margin: 50px auto;
  background: rgba(0,0,0,.5);
  color: #fff;
}

p{
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  line-height: 19px;
  padding: 10px 0;

}
.img-container figure{
  width: 32%;
  float: left;
  margin-left: 15px;
}
figure img{
  max-width: 100%;
  transition: .7s;
  outline: 2px solid #fff;
  outline-offset: -5px;
}
figure img:hover{
  filter: sepia(50%);
}
img+figcaption{
  opacity: 0;
  transition: .7s;
  font-family: 'Abel', sans-serif;
  font-size: 22px;
  background: #9aa8a6;
  padding: 15px;
}
figure:hover figcaption{
  opacity: 1;
}
#animations{
  position: relative;
  margin-left: 20%;
}
#ball{
  width: 80px;
  position: absolute;
  top: 100px;
  left: 5px;
}
#ronaldo{
  transform: rotate(-50deg);
}
